<!DOCTYPE html>
<html>
<head>

    <title>@Page.Title</title>

</head>
<body>
  
       
        @if (IsSectionDefined("header"))
        {
            <div id="header_alt">
                @RenderSection("header")
            </div>
        }
        else
        {
            @RenderPage("~/Shared/_Header.cshtml")
        } 
    
    <h1>@PageData["titulo"]</h1>
    @RenderBody()

</body>
</html>
